<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href='/styles/sideBarStyles.css' />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yearbook Project</title>
</head>
<body>
  <main role="main" class="container">
      <div class="starter-template">
        

          <%if (reqInfo.authenticated) { %>
              <h3><a href="/">Home</a></h3> | <h3><a href="/user/profile">My Profile</a></h3> | <h3><a href="/user/">All Profiles</a></h3> |
            <a href='/user/logout'>Logout</a> [<%= reqInfo.username %>] -->

          <% } else { %>
         
            <h3><a href='/user/login'>Login</a></h3> |
            <h3><a href='/user/register'>Register</a></h3> 
          <% } %>

            <!-- Child view goes here. -->
            <%- body %>
        </div>
        <div class="sidebarMenu">
          <h2>Profiles</h2>
          <!-- <main><%- body %></main> -->
          <ul>
            <% for (let i = 0; i < profiles.length; i++ ) {%>
            <li>
              <a href="/user/profile/<%= profiles[i].username %>"><%= profiles[i].firstName %></a>
            </li>
            <% } %>
          </ul>

      </div>
    </main>
    <%- include('../partials/footer.ejs') %>

  </body>
</html>