<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yearbook Project</title>
    <style>
      main {
        display: flex;
        justify-content: space-between;
      }
      .body {
        flex: 1;
      }
      .sidebar {
        flex: 1;
      }
    </style>
</head>
<body>
  <main role="main" class="container">
      <div class="starter-template">
        

          <%if (reqInfo.authenticated) { %>
              <a href="/">Home</a> | <a href="/user/profile">My Profile</a> | <a href="/user/">All Profiles</a> |
            <a href='/user/logout'>Logout</a> [<%= reqInfo.username %>] -->

          <% } else { %>
         
            <a href='/user/login'>Login</a> |
             <a href='/user/register'>Register</a> 
          <% } %>

            <!-- Child view goes here. -->
            <%- body %>
        </div>
        <div class="sidebar">
          <h2>Other Profiles</h2>
          <!-- <main><%- body %></main> -->

          <ul>
            <% for (let i = 0; i < profiles.length; i++ ) {%>
            <li>
              <a href="/user/profile/<%= profiles[i].username %>"><%= profiles[i].firstName %></a>
            </li>
            <% } %>
          </ul>
          
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>

  </body>
</html>